@import url(variables.css);

body {
    background-color: var(--color-cream);
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: var(--color-grayish-blue);
}

.product {
    background-color: var(--color-white);
    border-radius: 1rem;
}

.product picture img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.product .product-description {
    padding: 1.5rem;
}

.product .product-description .tag {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.375rem;
}

.product .product-description h1 {
    font-size: 2rem;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.75rem 0;
}

.product .product-description .description {
    font-size: 0.875rem;
}

.product .product-description .price {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    color: var(--color-dark-cyan);
    margin: 1rem 0;
    display: flex;
}

.product .product-description .price del {
    font-size: 1rem;
    color: var(--color-grayish-blue);
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin-left: 1rem;
}

.product .product-description button {
    width: 100%;
    background-color: var(--color-dark-cyan);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    align-items: center;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    border: none;
    border-radius: 0.75rem;
}

.product .product-description button:hover {
    cursor: pointer;
    background-color: var(--color-dark-blue);
}

@media screen and (min-width:768px) {
    .product {
        width: clamp(30%, 40%, 60%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: clamp(26.5625rem, 25rem + 15vh, 30.25rem);
    }

    .product picture.product-image {
        height: 100%;
    }

    .product picture img {
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
        height: 100%;
        object-fit: cover;
    }

    .product .product-image, .product .product-description {
        flex: 1;
    }

    .product .product-description .tag {
        font-size: 1rem;
    }

    .product .product-description h1 {
        font-size: 2.5rem;
    }

    .product .product-description .description {
        font-size: 1rem;
    }
}